.btn {
  position: relative;
  border: 0;
  border-radius: 100vmax;
  font-weight: var(--fw-lg);
  font-size: var(--size-300);
  line-height: 1;
  padding: 1em 2.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1.125em 1em -1em $clr-secondary-1b;
  text-decoration: none;
  display: inline-block;
  transition: all 300ms ease-in-out;

  @media only screen and (max-width: $bp-phone-lg) {
    padding: 1.2em 2.5em;
    font-size: $fs-500;
  }

  &--primary {
    color: $clr-tertiary-2;
    background-image: linear-gradient(to right, $clr-primary-2, $clr-primary-3);

    &:hover,
    &:focus-visible {
      opacity: 0.6;
    }
  }

  &[data-shadow="none"] {
    box-shadow: none;

    &:hover,
    &:focus-visible {
      opacity: 1;

      &::after {
        content: "";
        color: $clr-tertiary-1;
        background: transparent;
        z-index: 2;
        backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100vmax;
      }
    }
  }
}

.hero {
  background-color: $clr-tertiary-1;
  display: flex;
  justify-content: space-between;
  padding-left: 17rem;
  overflow: hidden;

  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 160% 280%;

  @media only screen and (max-width: $bp-desktop-large) {
    background-position: 300% 250%;
  }

  @media only screen and (max-width: $bp-desktop-large-2) {
    background-position: 470% 200%;
  }

  @media (min-width: 75em) and (max-width: 88.06em) {
    background-position: 70rem -28rem;
    // zoom: 70%;
  }

  @media only screen and (max-width: $bp-tablet) {
    background-position: 20rem -25rem;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: $bp-phone-lg) {
    background-position: -3rem -29rem;
  }

  @media only screen and (max-width: $bp-phone) {
    background-position: -22rem -55rem;
    zoom: 70%;
  }

  @media only screen and (max-width: $bp-smallest) {
    zoom: 60%;
  }

  &__content {
    max-width: 50%;
    margin-top: auto;
    padding-bottom: 40rem;

    @media only screen and (max-width: $bp-tablet) {
      text-align: center;
      margin-inline: auto;
      margin-top: -20rem;
      padding-bottom: 5rem;

      max-width: 70%;
    }

    &--primary-heading {
      width: 17ch;

      @media only screen and (max-width: $bp-tablet) {
        text-align: left;
      }
    }

    p {
      width: 42ch;
      color: $clr-secondary-1;

      @media only screen and (max-width: $bp-tablet) {
        text-align: left;
        font-size: 2rem;
      }
    }
  }

  &__image-container {
    position: relative;
    right: -13rem;
    top: -12rem;

    @media only screen and (max-width: $bp-tablet) {
      order: -1;
      top: -27rem;
      margin-inline: auto;
      right: auto;
    }

    @media only screen and (max-width: $bp-phone-lg) {
      top: -21rem;
    }
  }
}

.bank-detail {
  background-color: $clr-secondary-2;
  margin-top: -25rem;
  padding-block: 7rem;

  @media only screen and (max-width: $bp-tablet) {
    margin-top: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-tablet) {
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
    p {
      width: 60ch;
      color: $clr-secondary-1;

      @media only screen and (max-width: $bp-tablet) {
        font-size: 2rem;
        width: 40ch;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-container {
      --flow-space: 1.7rem;

      .items-image {
        margin-top: 5rem;

        @media only screen and (max-width: $bp-tablet) {
          margin-inline: auto;
          width: 10rem;
        }
      }

      .heading-tertiary {
        --flow-space: 5rem;

        @media only screen and (max-width: $bp-tablet) {
          text-align: center;
        }
      }

      p {
        width: 27ch;
        font-size: 1.7rem;
        color: $clr-secondary-1;

        @media only screen and (max-width: $bp-tablet) {
          width: 40ch;
          font-size: 2rem;
          text-align: center;
        }

        @media only screen and (max-width: $bp-smallest) {
          padding: 3rem;
        }
      }
    }
  }
}

.article {
  background-color: $clr-tertiary-1;
  padding-block: 7rem;

  @media (min-width: 75em) and (max-width: 88.06em) {
    padding-inline: 6rem;
  }

  & h2 {
    @media only screen and (max-width: $bp-tablet) {
      text-align: center;
    }
  }

  .article-body {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (min-width: 75em) and (max-width: 88.06em) {
      gap: 1.5rem;
    }

    @media only screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
    }

    &__image-box {
      width: 100%;
      height: 30rem;

      .article-image {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        margin-top: 5rem;

        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__list {
      @media only screen and (max-width: $bp-tablet) {
        width: 70%;
      }

      &-items {
        padding: 2.3rem;
        --flow-space: 1rem;
        background-color: $clr-tertiary-2;

        @media only screen and (max-width: $bp-tablet) {
          padding: 3rem;
        }

        .article-author {
          font-size: 1.2rem;
          color: $clr-secondary-1;
        }

        h4 {
          font-size: 2rem;
          opacity: 0.9;
          width: 20ch;
          cursor: pointer;

          &:hover,
          &:focus {
            color: $clr-primary-2;
          }
        }

        p {
          color: $clr-secondary-1;
        }
      }
    }
  }
}

.footer {
  background-color: $clr-primary-1;
  padding-block: 6rem;
  color: $clr-tertiary-1;

  &--wrapper {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo-social {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $bp-tablet) {
      align-items: center;
      gap: 4rem;
      margin-bottom: 4rem;
    }

    .logo {
      @media only screen and (max-width: $bp-tablet) {
        width: 25rem;
      }
    }
  }

  &--social-link {
    display: flex;
    gap: 2rem;
    margin-top: auto;

    @media only screen and (max-width: $bp-phone-lg) {
      gap: 3rem;
    }

    &--social-icon {
      width: 2.5rem;
      aspect-ratio: 1;
      fill: $clr-tertiary-2;

      @media only screen and (max-width: $bp-tablet) {
        width: 3rem;
      }
    }

    & a:where(:hover, :focus) &--social-icon {
      fill: $clr-primary-2;
    }
  }

  &--nav {
    columns: 2;
    gap: 3rem;

    @media only screen and (max-width: $bp-tablet) {
      columns: 1;
      gap: 6rem;
      margin-bottom: 4rem;
    }

    &__list a {
      color: $clr-secondary-2;
      text-decoration: none;

      &:where(:hover, :focus) {
        color: $clr-primary-2;
      }

      @media only screen and (max-width: $bp-tablet) {
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  &__btn-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: $bp-tablet) {
      align-items: center;
      gap: 3rem;
    }
  }
  &--copyright {
    opacity: 0.7;
  }
}
