$clr-primary-1: hsl(233, 26%, 24%);
$clr-primary-2: hsl(136, 65%, 51%);
$clr-primary-3: hsl(192, 70%, 51%);

$clr-secondary-1: hsl(233, 8%, 62%);
$clr-secondary-1b: hsl(233, 8%, 82%);
$clr-secondary-2: hsl(220, 16%, 96%);

$clr-tertiary-1: hsl(0, 0%, 98%);
$clr-tertiary-2: hsl(0, 0%, 100%);

// fonts

$fs-default: 1.8rem;
$fs-500: 2.5rem;
$fs-600-1: 3rem;
$fs-700-1: 4rem;

$fs-700-2: 5.5rem;
$fs-600-2: 4.5rem;
$fs-500-2: 3.5rem;
